html{
    --themeGreen: #00856F;
    --themeBlue: #118AB2;
    --themeGrey: #364954;
    --themeDefault: #707070;
}

body{
    background-color: #F5F5F5;
    color: var(--themeDefault);
    font-family: Arial, Helvetica;
    height: 100vh;
    margin: 0 1em;
    font-size: 1.25em;
}

a{
    text-decoration: none;
    color: var(--themeDefault);
}

h1{
    color: var(--themeBlue);
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

img{
    display: block;
    width: 40%;
    height: auto;
    margin: auto;
}

button{
    padding: 1em;
    margin: 0.25em 0;
}

header{
    min-height: 2em;
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid var(--themeBlue);
}

footer{
    min-height: 2em;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
    padding: 1em;
    background-color: white;
}

#headerTitle{
    color: var(--themeBlue);
    text-decoration: underline;
    display: inline;
}

#logo{
    display: inline;
    width: 1.5em;
    height: auto;
}

#url{
    margin: 1em 0;
    display: block;
}

#articleTitle{
    color: var(--themeGreen);
    text-align: center;
}

#buttonsPanel{
    display: grid;
    grid-template-rows: 1fr 1fr;

    border: 1px solid var(--themeBlue);
    
    margin: 0;
    padding: 1em;
    width: 7%;
    max-height: 5em;

    position: fixed;
    right: 0;
    top: 40%;
}

#functionButton{
    color: white;
    background-color: var(--themeGreen);
    border: 1px solid var(--themeGreen);
    border-radius: 25px;
}

#export{
    color: white;
    background-color: var(--themeGrey);
    border: 1px solid var(--themeGrey);
    border-radius: 25px;
}