html{
    --themeGreen: #00856F;
    --themeBlue: #118AB2;
    --themeGrey: #364954;
    --themeDefault: #707070;
}

body{
    background-color: #F5F5F5;
    color: var(--themeDefault);
    font-family: Arial, Helvetica;
    height: 100vh;
    margin: 0 1em;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: var(--themeDefault);
}

h1{
    color: var(--themeBlue);
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    color: var(--themeGrey);
}

figure{
    text-align: center
}

img{
    display: block;
    width: 40%;
    height: auto;
    margin: 0.5em auto;
}

figcaption{
    color: var(--themeBlue);
}

button{
    padding: 1em;
    margin: 0.25em 0;
}

header{
    min-height: 2em;
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    border-bottom: 2px solid var(--themeBlue);

    display: grid;
    grid-template-columns: 1fr 9fr;
}

footer{
    min-height: 2em;
    margin-top: auto;
    width: 100%;
    text-align: center;

    border-top: 2px solid var(--themeBlue);
}

.container{
    width: 80%;
    margin: auto;
    padding: 1em;
    background-color: white;
    min-height: 96vh;
}

#headerTitle{
    color: var(--themeBlue);
    text-decoration: underline;
    display: inline;
}

#logo{
    display: inline;
    /* width: 2em; */
    width: 50%;
    margin: 0 auto;
    height: auto;
}

#url{
    margin: 1em 0;
    display: block;
    color: var(--themeGrey)
}

#url:hover{
    color: var(--themeBlue);
}

#articleTitle{
    color: var(--themeGreen);
    text-align: center;
}

#buttonsPanel{
    display: grid;
    grid-template-rows: 1fr 1fr;

    border: 1px solid var(--themeBlue);
    
    margin: 0;
    padding: 1em;

    position: fixed;
    right: 0;
    top: 40%;
}

#simplify{
    background: url("../assets/greySimplify.svg") no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
}

#summarise{
    background: url("../assets/greySummarise.svg") no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
}

#export{
    background: url("../assets/greyExport.svg") no-repeat;
    background-size: contain;
    height: 80px;
    width: 80px;
}

@media only screen and (max-width: 1280px) {
    body{
        margin: 1px;
        padding: 0;
    }

    .container{
        margin: 0;
        padding: 0.5em;

        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr auto 1fr;
    }

    header{
        height: auto;
        width: auto;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    #logo{
        width: 50px;
        margin: auto;
    }

    footer{
        position: relative;
    }

    #buttonsPanel{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        grid-gap: 2em;
        position: static;
        margin: 0.5em auto;
    }
}