:root{
    --blue: #118AB2;
    --darkGrey: #202B32;
    --grey: #364954;
    --lightGrey: #486170;
    --green: #00856F;
    --purple: #8911B2;
    --lightBlue: #EBF2FA;
}

body{
    margin: 5px;
    padding: 0;
    justify-items: center;
    background-color: var(--lightBlue);
    min-width: 200px;
}

button{
    border: none;
    margin: auto;
    padding: 0;
}

main {
    padding: 5px 0;
}

.buttonsContainer{
    display: grid;
    gap: 15px;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
}

#simplify{
    object-fit: cover;
    background: url("../assets/simplify.svg") no-repeat;
    background-size: contain;
    height: 100px;
    width: 80px;
    place-items: center;
}

#summarise{
    background: url("../assets/summarize.svg") no-repeat;
    background-size: contain;
    height: 100px;
    width: 80px;
    place-items: center;
}

/* ERROR PAGE */

.centered {
    display: grid;
    place-items: center;
    height: 160px;
    text-align: center;
}

#alertImage{
    width: 50px;
    height: auto;
    place-items: center;
    margin-bottom: 5px;
}

.errorTitle{
    margin: 0;
    color: var(--grey);
}

.centered p {
    margin: 0;
    text-align: center;
    color: var(--lightGrey)
}

/* LOADING PAGE */

.loading {
   display: inline-block;
    width: 80px;
    height: 80px;
    margin: 40px;
}
.loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid var(--blue);
    border-color: var(--blue) transparent var(--blue) transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

