:root{
    --blue: #118AB2;
    --grey: #364954;
    --green: #00856F;
    --purple: #8911B2;
    --lightBlue: #EBF2FA;
}

body{
    width: 200px;
    text-align: center;
    background-color: var(--lightBlue);
}

button{
    border: none;
    margin: 0.5em auto;
    padding: 0;
}

footer{
    color: var(--grey)
}

.buttonsContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#nameLogo{
    margin-top: 0.5em;
    width: 90%;
    height: auto;
}

#simplify{
    object-fit: cover;
    background: url("../assets/simplify.svg") no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
}

#summarise{
    background: url("../assets/summarize.svg") no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
}

